<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UOGumpEditor.UOSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UOGumpEditor.UOSettings>
            <setting name="UO_Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayMax" serializeAs="String">
                <value>200</value>
            </setting>
        </UOGumpEditor.UOSettings>
    </userSettings>
</configuration>